#!/bin/sh

# search file and open with default editor
# require: fzf
finder()
{
  du -a $1 | awk '{print $2}' | fzf | xargs -r $EDITOR
}

# jump into directory by given keywords & print current directory at the end
j()
{
  cd $(jump cd $1)
  pwd
}

# Search file
# required fd, peco
op()
{
 fd "$1" | peco | xargs $EDITOR 
}

# Search code/text
# required ag, peco
sc()
{
  ag "$1" | peco | awk -F : '{print "+"$2" "$1}' | xargs nvim
}
